<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding maxBufferSize="2000000" maxReceivedMessageSize="2000000" />
                <binding name="AWebServiceToHandleFilesSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="AWebServiceToHandleFilesSoap1" />
                <binding name="AWebServiceToHandleDBSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="AWebServiceToHandleDBSoap1" />
                <binding name="AWebServiceForCRONUSSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="AWebServiceForCRONUSSoap1" />
                <binding name="AWebServiceForContentAndMetadataFromCRONUSSoap" maxBufferSize="2000000" maxReceivedMessageSize="2000000">
                    <security mode="Transport" />
                </binding>
                <binding name="AWebServiceForContentAndMetadataFromCRONUSSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44327/AWebServiceToHandleFiles.asmx"
                binding="basicHttpBinding" bindingConfiguration="AWebServiceToHandleFilesSoap"
                contract="ServiceReferenceWSOne.AWebServiceToHandleFilesSoap"
                name="AWebServiceToHandleFilesSoap" />
            <endpoint address="https://localhost:44327/AWebServiceToHandleDB.asmx"
                binding="basicHttpBinding" bindingConfiguration="AWebServiceToHandleDBSoap"
                contract="ServiceReferenceWSTwo.AWebServiceToHandleDBSoap"
                name="AWebServiceToHandleDBSoap" />
            <endpoint address="https://localhost:44326/AWebServiceForCRONUS.asmx"
                binding="basicHttpBinding" bindingConfiguration="AWebServiceForCRONUSSoap"
                contract="ServiceReferenceERPOne.AWebServiceForCRONUSSoap"
                name="AWebServiceForCRONUSSoap" />
            <endpoint address="https://localhost:44381/AWebServiceForContentAndMetadataFromCRONUS.asmx"
                binding="basicHttpBinding" bindingConfiguration="AWebServiceForContentAndMetadataFromCRONUSSoap"
                contract="ServiceReferenceERPTwo.AWebServiceForContentAndMetadataFromCRONUSSoap"
                name="AWebServiceForContentAndMetadataFromCRONUSSoap" />
        </client>
    </system.serviceModel>
</configuration>